.Navbar{
    background-color: #114E84;
}

.NavbarStyle{
    color: #FFFFFF !important;
}

.HeaderButton {
    background-color: #FFA500;
    border-color: #FFA500;
    font-size: 15px;
    padding: 10px 30px!important;
    font-family: Open Sans;
    font-weight: bold;
}

.HeaderButton:hover {
    background-color: #FFA500;
    border-color: #FFA500;   
}

.nav-link {
    color: #FFFFFF !important ;
    font-family: Open Sans;
    font-size: 14px;
}

@media (min-width: 950px){
    .navbar-nav{
        padding-left:20px;
        padding-right:20px;
        margin-left:30px;
        margin-right:30px;
    }
}


  @media (max-width: 400px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
        justify-content: center;
    }
}

  .dropdown-menu {
    background-color: #114E84;
    font-family: Open Sans;
    font-size: 14px;
  }

  .dropdown-menu a{
    color: #FFFFFF !important;
}

.dropdown-menu a:hover{
    color: #114E84 !important;
}

.dropdown-menu a:focus{
    background-color: transparent;
}

.PageContent {
  padding-top: 70px;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 70px;
}

.ContentTitle {
    font-family: Open Sans;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 1em;
    text-align: center;
    justify-content: center !important;
}

.ContentDescription {
  font-family: Open Sans;
  font-size: 16px;
}


.jumbotron {
    background-image: url("../images/3C-1.jpg");
    background-size: cover;
    border-radius: 0px;
    padding-top: 180px;
    padding-bottom: 180px;
    margin-bottom: 0px;
  }

  .navbar-toggler{
      background-color: #FFFFFF;
      border-radius: 30px;
  }

  .footer {
    text-align: center;
    background-color: #222222;
    padding-top: 66px;
    padding-bottom: 66px;
    padding-left: 400px;
    padding-right: 400px;
  }

  @media only screen and (max-width: 768px) {
    .footer {
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }


  .IndexTitle{
      color: #87C1DD;
      font-family: Open Sans;
      font-size: 23px;
      text-align: center;
      font-weight: 300px;
  }

  .IndexSubtitle{
     color: #FFFFFF;
      font-family: Open Sans;
      font-size: 31px;
      font-style: italic;
      text-align: center;
      font-weight: bold;
      line-height: 1.7em;
  }

  .IndexButton {
    background-color: #FFA500;
    border-color: #FFA500;
    font-size: 20px;
    padding: 12px 40px 12px 40px;
    font-family: Open Sans;
    font-weight: bold;
  }

  .IndexButton:hover {
    background-color: #FFA500;
    border-color: #FFA500;   
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

 .FooterTitle {
    color: #164F82;
    font-family: Open Sans;
    font-size: 18px;
    text-align: left;
 }
 
 .FooterDescription {
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 14px;
    text-align: left;
 }

 .FooterCopyright {
     background-color: #151515;
     font-family: Open Sans;
     font-size: 14px;
     text-align: center;
 }

 .badges {
     padding-top: 100px;
     padding-bottom: 100px;
 }

 .title {
    color: #000000;
    font-family: Open Sans;
    font-size: 30px;
    text-align: center;
    font-weight: normal;
 }

 .features {
    background-color: #202E45;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 150px;
    padding-right: 150px;
  }

  @media only screen and (max-width: 768px) {
    .features {
      padding-top: 40px;
      padding-bottom: 10px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .features-title {
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 300;
  }

  .features-description {
    font-family: Open Sans;
    font-size: 14px;
    color: #AAAAAA;
  }

  @media only screen and (max-width: 768px) {
    .features-description {
      margin-bottom: 40px;
    }
  }

  .testimonial {
    background-color: #F4F4F4;
  }

  @media only screen and (min-width: 1000px) {
    .testimonial {
      padding-top: 60px;
      padding-bottom: 60px;
      padding-left: 226px;
      padding-right: 226px;
    }
  }

  @media only screen and (max-width: 1000px) {
    .testimonial {
      padding-top: 30px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }
  }

  .testimonial-box {
    background-color: #FFFFFF;
    padding: 35px 35px 35px 35px;
  }

  @media only screen and (max-width: 1000px) {
    .testimonial-box {
      margin-bottom: 20px;
    }
  }

  .testimonial-title {
    font-family: Open Sans;
    font-size: 16px;
    color: #666666;
    font-style: italic;
  }

  .testimonial-name {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
  }

  .image-box {
      background-color: #000000;
      margin-bottom: 50px;
  }

  .image-box-title {
    font-family: Open Sans;
    color: #FFFFFF;
  }

  .image-box-description {
    font-family: Open Sans;
    color: #FFFFFF;
  }

  .image-box-textarea {
      padding-top: 150px;
      padding-right: 100px;
      padding-left: 100px;
  }

  @media only screen and (max-width: 768px) {
    .image-box-textarea {
      padding-top: 40px;
      padding-right: 30px;
      padding-left: 30px;
    }
  }



  @media only screen and (max-width: 768px) {
    .sticky-button {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      background-color: #009900;
      border-color: #009900 ;
      color: #FFFFFF;
      font-family: Open Sans;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 100px;
      padding-left: 100px;
      font-size: 20px;
      border-radius: 0px;
    }
  }

  @media only screen and (max-width: 768px) {
    .sticky-button:hover {
    background-color: #009900;
    border-color: #009900; 
    }
  }  

  @media only screen and (min-width: 768px) {
    .sticky-button {
      display: none;
    }
  }


  @media only screen and (max-width: 768px) {
    .sticky-button-element {
      position: -webkit-sticky;
      position: sticky;
      bottom: 0;
      background-color: #009900;
    }
  }
  
  @media only screen and (min-width: 768px) {
    .sticky-button-element {
      display: none;
    }
  }